#losangeles_sites {
  height: 600px;
  width: 100%;
  text-align: left
}

body {
  padding-top: 3.5rem
}

.starter-template {
  padding: 1rem 1rem;
  text-align: center
}

.navbar {
  height: 65px
}

.legend {
  text-align: left
}

.tablehead {
  text-align: center;
  border: 1px solid black
}

.legendrow {
  text-align: left;
  padding: 0.2rem;
  border: 1px solid black
}

.color0 {
  background-color: #636363;
  border: 1px solid black
}

.color50 {
  background-color: #ffffb2;
  border: 1px solid black
}

.color100 {
  background-color: #fed976;
  border: 1px solid black
}

.color150 {
  background-color: #feb24c;
  border: 1px solid black
}

.color200 {
  background-color: #fd8d3c;
  border: 1px solid black
}

.color250 {
  background-color: #f03b20;
  border: 1px solid black
}

.color300 {
  background-color: #bd0026;
  border: 1px solid black
}

.footer {
  text-align: center;
  font-size: 0.8rem;
  font-style: italic
}
