@charset "utf-8";
body { margin:0; padding:0; width:100%; background:#fff url(images/main_bg.jpg) top center repeat-x; color:#5f5f5f; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
html, .main { padding:0; margin:0; background-color:#fff;}
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
h1 {
	margin:0;
	padding:24px 0 24px 0px;
	color:#5f5f5f;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	line-height: 1.2em;
	font-weight: bold;
}
h1 a, h1 a:hover { color:#5f5f5f; text-decoration:none;}
h1 span { color:#e37431;}
h1 .small { font:normal 13px/1.2em Arial, Helvetica, sans-serif;}
h2 {
	color:#727272;
	padding:8px 0;
	margin:8px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.3em;
}


h3 {
	color:#727272;
	padding:8px 0;
	margin:8px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.3em;
}
h4 {
	color:#727272;
	padding:8px 0;
	margin:8px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.2em;
}
p { margin:8px 0; padding:0 0 8px 0; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
a { color:#e37431; text-decoration:none;}
a:hover { text-decoration:underline;}

.header, .hbg, .content, .fbg, .footer { margin:0; padding:0;}
.content_resize, .fbg_resize { margin:0 auto; padding:24px 40px; width:890px;}

/* header */
.header { background:url(images/header_bg.gif) repeat-x top;}
.header_resize { margin:0 auto; padding:0; width:970px;}
.header .logo { width:auto; float:left;}


.header .logo a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;	
}
.header .menu ul {
	padding:0;
	float:right;
	width:auto;
	list-style:none;
	margin-top: 40px;
	margin-right: 40px;
	margin-bottom: 0;
	margin-left: 0;
}
.header .menu ul li { margin:0 4px; float:left;}
.header .menu ul li a { display:block; margin:0; padding:10px 16px 6px 16px; color:#5f5f5f; text-decoration:none;}
.header .menu ul li a:hover, .header .menu ul li.active a { color:#fff; background:url(images/menu.gif) repeat-x top;}

/* hbg */
.hbg { padding:0; background:url(images/hbg_bg.gif) repeat-x top;}
.hbg_resize { margin:0 auto; padding:30px 456px 0 56px; width:492px; height:301px; background:#fff url(images/hbg_img.gif) no-repeat top center;}
.hbg_resize img.readmore { float:right; padding-top:32px;}


/* content */
.content { padding-bottom:16px;}
.content_resize { border-top:none;}
.content .mainbar { margin:0; padding:0; float:left; width:626px;}
.content .mainbar .article_vert { margin:0; padding:0 16px 0 0; float:left; width:297px;}
.content .mainbar .article_vert img { border:1px solid #dedede;}
.content .mainbar .article, .content .sidebar .gadget { margin:0; padding:0 0 16px 0;}
.content .sidebar { margin:0; padding:0; float:right; width:240px;}
ul.sb_menu, ul.ex_menu { margin:0; padding:0; list-style:none;}
ul.sb_menu li, ul.ex_menu li { margin:0; background:url(images/li.gif) no-repeat 0 12px;}
ul.sb_menu li { padding:4px 0 4px 12px;}
ul.ex_menu li { padding:4px 0 8px 12px;}
ul.sb_menu li a, ul.ex_menu li a { color:#5f5f5f; text-decoration:none;}
ul.sb_menu li a:hover, ul.ex_menu li a:hover { color:#e37431; font-weight:bold;}
ul.sb_menu li a:hover { text-decoration:underline;}
ul.ex_menu li a:hover { text-decoration:none;}
ul.prevList {
	
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
ul.prevList li {
	width: 82px;
	float: left;
	list-style-type: none;
	font-weight: bold;
	text-align: center;
	margin: 0px 5px 0px 0px;
	padding: 0px;
}

.lg img {
	margin-bottom: 20px;
	margin-left: 10px;
}

/* text styles */

.admin p {
	margin-bottom: 0px;
	padding-bottom: 8px;
	margin-top: 0px;
	line-height: 1.4em;
}

span.listNum {
	font-size: 18px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #666;
}

.article_vert p {
	font-size: 13px;
}

.headOne {
	font-size: 14px;
}

span.time {
	color: #E37431;
	font-size: 18px;
}
.listSubOne {
	margin-left: 20px;
}

/* one offs */

.marlft20 {
	margin-left: 20px;
	
}
blockquote.group {
	font-size: 11px;
	margin-top: 0px;
	}

/* list styles */

ul.listOne li {
	margin-bottom: 8px;
}

ul { margin-bottom: 18px;
}


/* subpages */
.content .mainbar .comment { margin:0; padding:16px 0 0 0;}
.content .mainbar .comment img.userpic { border:1px solid #dedede; margin:10px 16px 0 0; padding:0; float:left;}

/* fbg */
.fbg { margin:0; padding:0;}
.fbg_resize img { border:1px solid #dedede;}
.fbg_resize .col { margin:0; float:left;}
.fbg_resize .c1 { padding:0 16px 0 0; width:592px;}
.fbg_resize .c3 { padding:0 0 0 32px; width:240px;}
.fbg_resize .c1 img { margin:8px 16px 8px 0; padding:0; float:left;}
.fbg_resize .c3 img { margin:4px; padding:0;}

/* footer */
.footer { margin:0; padding:0;}
.footer_resize { margin:0 auto; padding:8px 0; width:900px;}
.footer_resize p.lf {
	float:right;
	width:auto;
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
ul.fmenu {
	margin:8px 0;
	padding:0;
	list-style:none;
	float:left;
	width:auto;
}
ul.fmenu li { margin:0; padding:0 8px; float:left;}
ul.fmenu li a { color:#5f5f5f; text-decoration:none;}
ul.fmenu li a:hover, ul.fmenu li.active a { color:#e37431;}
ul.fmenu li a:hover { text-decoration:underline;}

/* form */
form { margin:0; padding:0;}
form  ol { margin:0; padding:0; list-style:none;}
form ol li { margin:0; padding:0; display:block; clear:both;}
form ol li label { display:block; margin:0; padding:16px 0 0 0;}
form ol li input.text { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px; height:16px; background:#fff;}
form ol li textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:#fff;}
form ol li .send { margin:16px 0 0 0;}

/* box*/

.expanded .content {
	display:block;
}

.shrunk .content {
	display:none;
}
